.navigation {
  
    display: block;
    background-color: $color-box;
    border-radius: 50px;
    width: 100%;
    height: 50px;

    .navigation-bot-section {


        img {
            display: none;
        }
    }


    ul {
        display: flex;
        justify-content: space-around;
        

        li {
        
            display: inline;
            

            img {
                
                height: 20px;
                padding: 0.4rem 0.5rem 0rem 0;
                margin-top: 0.3rem;
                transform: translateY(0px);
                transition: 0.2s ease-in-out;
                

                &:hover {
                    transform: translateY(3px);
                    transition: 0.2s ease-in-out;

                }


            }

            span {
               display: none;
                opacity: 0;
                transition: 300ms ease-in-out;
            }
        }
    }
}

@media screen and (min-width: 560px) {
    .navigation {

        .navigation-bot-section {


            img {
                display: none;
            }
        }

        
        ul {
            li {
                span {
                    color: $color-h4;
                    font-family: $fnt-opensans;
                   display: inline;
                    opacity: 1;
                   
                }

                span:hover {
                        color: $color-btn;
              
                }

            }
        }
    }
}

// ---------------------------------------------------------------------
// -------------------------   VERSION DESKTOP -------------------------
// ---------------------------------------------------------------------
@media screen and (min-width: 1200px) {
    .navigation {
       
        background-image: linear-gradient($color-box, $color-box 50%, $color-navbot 50%, $color-body 90%);
        .navigation-bot-section {
            background-image: linear-gradient($color-box, $color-navbot);
            width: auto;
            height: auto;

            img {
                display: block;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                width: 30%;
                height: auto;
            }
        }

        
        ul {
            
            li {
                span {
                   display: inline;
                    opacity: 1;
                    transition: 300ms ease-in-out;
          
                }
            }
        }
    }
}
