
.sites-container__images {
    display: block;
}



figure{
    overflow: hidden;
    width : 90vw;
    height: 30px;
    border: 2px solid $color-btn;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
    img {

        width: 100%;
        // height: 1px;
        margin-top: 40px;
    }

    figcaption {
        color: $color-txt;
        font-size: 0.8rem;
        font-family: $fnt-opensans;
        line-height: 1.2rem;
        margin-bottom: 20px;
        
    }



    .url {
        color: $color-txt;
        text-decoration: underline;
    }

}

.integration {
    iframe {

        width: 100vw;
        height: 300px;
        
    }
}



figure {
    animation-name: anim-site;
    animation-delay: 500ms;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}



@media (min-width:700px) {
    .integration {
        iframe {
            width: 100vw;
            height: 500px;
            
        }
    }
    
}


@media (min-width:1200px)
{


    figure{

        width : 60vw;

    }
    .integration {
        iframe {
            width: 100%;
            height: 700px;

        }
    }
    


}




@keyframes anim-site {
    0% {height: 30px;}
    100% {height: initial;}
}


