.sites-container__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



figure{
    width : 250px;
    height: auto;
    
    
    img {
        width: 248px;
        height: 1px;
        margin-top: 40px;
    }

    figcaption {
        color: $color-txt;
        font-size: 0.8rem;
        font-family: $fnt-opensans;
        line-height: 1.2rem;
        
    }



    .url {
        color: $color-txt;
        text-decoration: underline;
    }

}


.site1 {
    animation-name: anim-site1;
    animation-delay: 100ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

    img {
        animation-name: anim-img1;
        animation-delay: 1s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

.site2 {
    animation-name: anim-site2;
    animation-delay: 400ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    img {
        animation-name: anim-img2;
        animation-delay: 1s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

.site3 {
    animation-name: anim-site3;
    animation-delay: 800ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    img {
        animation-name: anim-img3;
        animation-delay: 1s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

@keyframes anim-site1 {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes anim-site2 {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes anim-site3 {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes anim-img1 {
    0% {height: 1px;}
    100% {height: 500px;}
}
@keyframes anim-img2 {
    0% {height: 1px;}
    100% {height: 500px;}
}
@keyframes anim-img3 {
    0% {height: 1px;}
    100% {height: 250px;}
}
