.socialnetworks {
    position: relative; 
    z-index: 2;  
    ul {
        display: flex;
        justify-content: space-around;
    //    margin-top: -50px;
        
        border-radius: 50px;
        
        li {
            display: inline;

            img {
                margin: .5rem;
                padding: .4rem;
                height: 30px;
                width : 30px;
                background-color: $color-btn-off;
                border-bottom: 4px solid $color-btn-shadow1;
                border-left: 1px solid $color-btn-shadow2 ;
                border-radius: 40%;
             
                transition: .2s;  
                
                &:hover {
                    background-color: $color-btn-on;
                    border: 1px solid $btn-color3;
                    height: 29px;
                    width:29px;
                    transition: .2s;
                    
                    
                }
            }
        }
    }
}






@media screen and (min-width: 560px) {
    .socialnetworks {
        ul {
 
            margin-top: -0;
        }
    }
}

@media screen and (min-width: 760px) {
    .socialnetworks {
        ul {
 
            margin-top: -0;
        }
    }
}



@media screen and (min-width: 1200px) {
    .socialnetworks {
        ul {
            margin-left: 25%;
            // margin-top: -122px;
        }
    }
}




