
.contact {
    .contact-content {
        margin: 30px;
        
        .header {
            text-align: center;
            .contact-box {
                h3 {
                    padding: 10px;
                    color: $color-h3-orange;
                    font-family: $fnt-opensans;
                    font-size: 14px;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
               }

                span {
                    
            font-family: $fnt-opensans;
            line-height: 1.5rem;
            font-weight: 100;
            color: $color-h1;
            margin: .8rem;
            margin-top: 30px;
            font-size: 1rem;
            text-align: left;
            margin-bottom: 2rem;
                }

                img {
                    width : 15px;
                    height: auto;
                }
                .no-tel, .e-mail {
                    cursor: pointer;
                }
            }
        }   
    }  
}


@media screen and (min-width:1200px) {


    .contact {
        .contact-content {
            margin: 20px;
            margin-left: 300px;  
       
    }
}
}