.error {
    background-image: url(../../../public/medias/error666bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    ;
}



.erreur-content-text {
    text-align: center;
    font-size: 100px;
    padding-top: 20px;
    h3 {
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
}




h4, h3, span{
    color: rgb(255, 0, 0);


}

